.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
  }
  .footer .socials {
    margin-top: 10px;
  }
  .footer .socials a {
    color: #f39c12;
    margin: 0 10px;
    text-decoration: none;
  }
  .footer .socials a:hover {
    text-decoration: underline;
  }
  