/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&family=Smooch+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal&family=Mina:wght@400;700&family=Moon+Dance&family=Smooch+Sans:wght@100..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  min-height: 100vh; /* Ensure content fills the viewport height */
}

#__next {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Push content to fill remaining space */
}
